<div class="row">
  <div class="col-sm-8">
    <h1>Document Sets Admin (Edit)</h1>
  </div>

  <div class="col-sm-4 btn-spaced">
    <%= link_to "Back", document_sets_url, class: 'btn btn-default btn-sm float-right' %>
  </div>
</div>

<%= render "form" %>
