// ---------------- LAYOUT ----------------
// Some basic styles are included, feel free to change or remove anything here.
html {
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #47484c;
}

//////////////////////////////////// Header
header {
  background-color: silver;

  .container-fluid { padding: 12px 32px; }

  nav {
    text-align: right;
    li { margin-left: 24px; }
  }
}

//////////////////////////////////// Main
.container-fluid {
  max-width: 1248px;
}

main .container-fluid {
  padding: 96px 32px;
}

//////////////////////////////////// Footer
footer {
  padding: 64px 0;
}
