<!DOCTYPE html>
<html>
  <head>
    <%= render partial: 'shared/head' %>
  </head>

  <body>
    <header>
      <div class="container-fluid">
        <nav>
          <ul>
            <li><%= link_to "Home", root_url %></li>
          </ul>
        </nav>
      </div>
    </header>

    <main>
      <div class="container-fluid">
        <%= yield %>
      </div>
    </main>

  </body>
</html>
